
$scheme-green: rgb(154,202,19);
$scheme-red: #DF2B46;
$scheme-blue: #5EB4C1;
$scheme-yellow: #FFC408;
$scheme-white: #FEFEFE;


$button-facebook: #184196;
$button-facebook-light: #385EAE;
$button-blue: #3772bc;
$button-blue-light: #4187df;
$button-green: #30a440;
$button-green-light: #35b848;
$button-red: #be3636;
$button-red-light: #d84040;

$font-alef: 'Alef', Verdana, Arial, Helvetica;
$font-reg: Verdana, Arial, Helvetica;

$navbarH: 50px;
$navbarHi: 70px;

//Social Networks colors
$Blogger: #FF8833;
$facebook: #3B5998;
$Flickr: #FE0883;
$Foursquare: #0072B1;
$Google-plus: #C63D2D;
$Instagram: #4E433C;
$Linkedin: #4875B4;
$Pinterest: #C92228;
$Reddit: #CEE3F8;
$RSS: #FA9B39;
$StumbleUpon: #EB4924;
$Tumblr: #34526F;
$Twitter: #00A0D1;
$Vimeo-blue: #44BBFF;
$Vimeo-green: #AAD450;
$YouTube: #C4302B;
$eventbrite: #ff8000;

