@import 'consts';

body, html {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  font-family: verdana, arial, helvetica, sans-serif;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}


.container-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: $font-alef;
  background-color: $scheme-green;
  margin-left: 50%;
  width: 50%;
}

.container {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  float: left;
  padding: 20px;
  padding-top: 57px;
  box-sizing: border-box;

  .container-tabs{
    position: absolute;
    top: 0;
    right: 20px;
    padding: 20px;
    z-index: 9;

  }

  .container-inner{
    border: 1px solid #111;
    border-radius: 5px;
    background: #fefefe;
    color: #333;
    padding: 15px;
    height:100%;
    width: 100%;
    direction: rtl;
    max-width: 600px;
    margin: auto;
    float: none;
    font-family: $font-alef;
    font-size: 18px;
    line-height: 24px;
    overflow: auto;
    h1 {
      margin: 8px 0;
      font-weight: bold;
    }
    p {
      margin: 8px 0;
    }

  }


  animation-duration: 1.2s !important;
  -webkit-animation-duration: 1.2s !important;
}

.page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

//styles start

.top-text {
  display: block;
  width: 100%;
  padding: 24px 20px 0;
  direction: rtl;
  color: white;
  text-align: center;
}

.not-online {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $scheme-green;
  z-index: 99999999;
  transition: width 1s ease;

  .not-online-logo{
    height:370px;
    width:266px;
    background-image: url('../images/animated-logo-loop.gif');
    background-repeat: no-repeat;
    margin:auto;
  }
  .not-online-logo-animation{
    background-image: url('../images/animated-logo.png');
  }

  &.aside{
    width: 50%;
    float: left;
    overflow: hidden;
  }

  .download{
    transition: all 1s ease;
    position: absolute;
    bottom: 20px;
    left:0;
    width: 100%;
    opacity: 0;
    &.active{
      opacity: 1;
    }
    img{
      height: 60px;
    }
  }
}

.rtl {
  direction: rtl;
  //  font-family: Alef;
}

.right {
  direction: rtl;
}

.clear {
  clear: both;
}

.loading {
  position: fixed;
  width: 100%;
  font-size: 60px;
  line-height: 60px;
  top:100px;
  left: 0;
  text-align: center;
  color:#111;
}

i {
  text-rendering: auto !important;
}

@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-bold.eot');
  src: url('fonts/Alef-bold.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-bold.woff') format('woff'), url('fonts/Alef-bold.ttf') format('truetype'), url('fonts/Alef-bold.svg#alefbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-regular.eot');
  src: url('fonts/Alef-regular.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-regular.woff') format('woff'), url('fonts/Alef-regular.ttf') format('truetype'), url('fonts/Alef-regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

//general classes

.color-white {
  color: $scheme-white !important;
}

.color-blue {
  color: $scheme-blue !important;
}

.color-green {
  color: $scheme-green !important;
}

.color-red {
  color: $scheme-red !important;
}

.color-facebook {
  color: #3b5998 !important;
}

.blacknwhite {
}

.stretch {
  width: 100%;
  display: block;
}

button, a.button, input[type="submit"] {
  font-size: 14px;
  background: none;
  cursor: pointer;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  position: relative;
  border-radius: 5px;
  user-select: none;
  background: white;
  background: linear-gradient(white, #f1f1f1); /* Standard syntax (must be last) */
  border: none;
  font-family: $font-alef;

  &:active, &.button-active, &.button-active:hover, &.button-active:active {
    background: white;
    background: linear-gradient(#f1f1f1, white); /* Standard syntax (must be last) */
    box-shadow: none;
    text-decoration: none;
  }

  &.button-disabled, &.button-disabled:hover, &.button-disabled:active {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    text-decoration: none;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
  }

  &.button-facebook {
    background: $button-facebook;
    background: linear-gradient($button-facebook-light, $button-facebook); /* Standard syntax (must be last) */
    border-color: transparent;
    color: white;
    &:active, &.button-active, &.button-active:hover, &.button-active:active {
      background: $button-facebook;
      background: linear-gradient($button-facebook, $button-facebook-light); /* Standard syntax (must be last) */
      box-shadow: none;
      text-decoration: none;
    }
  }
  &.button-blue {
    background: $button-blue;
    background: linear-gradient($button-blue-light, $button-blue); /* Standard syntax (must be last) */
    border-color: transparent;
    color: white;
    &:active, &.button-active, &.button-active:hover, &.button-active:active {
      background: $button-blue;
      background: linear-gradient($button-blue, $button-blue-light); /* Standard syntax (must be last) */
      box-shadow: none;
      text-decoration: none;
    }
  }
  &.button-green {
    background: $button-green;
    background: linear-gradient($button-green-light, $button-green); /* Standard syntax (must be last) */
    border-color: transparent;
    color: white;

    &:active, &.button-active, &.button-active:hover, &.button-active:active {
      background: $button-green;
      background: linear-gradient($button-green, $button-green-light); /* Standard syntax (must be last) */
      box-shadow: none;
      text-decoration: none;
    }
  }
  &.button-red {
    background: $button-red;
    background: linear-gradient($button-red-light, $button-red); /* Standard syntax (must be last) */
    border-color: transparent;
    color: white;

    &:active, &.button-active, &.button-active:hover, &.button-active:active {
      background: $button-red;
      background: linear-gradient($button-red, $button-red-light); /* Standard syntax (must be last) */
      box-shadow: none;
      text-decoration: none;
    }
  }
}

//animations

.delayed-animation {
  animation-delay: 0.5s;
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

