<div>
  <h1>

  </h1>

  <div class="aboutus-person" ng-class="(isHeb() ? 'heb' : 'eng')">
    <div class="person-image">
      <img src="http://graph.facebook.com/guysopher/picture?type=large" class=""/>
      <a href="mailto:guysopher@gmail.com" target="_blank" title="GuySopher@Gmail.com"><i class="fa fa-envelope-square mail"></i></a>
      <a href="http://www.facebook.com/guysopher" target="_blank"><i class="fa fa-facebook-square facebook"></i></a>
      <a href="il.linkedin.com/in/guysopher/" target="_blank"><i class="fa fa-linkedin-square linkedin"></i></a>
    </div>

    <div class="person-info" ng-show="isHeb()">
      גיא סופר, 33, תל אביב
      <br/>
      סטארטפיסט מושבע, מייקר ומפתח ותיק בתחום הווב והמובייל.
      <br/>
      מתמחה בפיתוח מוצרים מאפס, בדגש על עיצוב, שימושיות והרבה כיף!
    </div>
    <div class="person-info" ng-show="isEng()">
      Guy Sopher, 33, Tel Aviv
      <br/>
      An enthusiastic entrepreneur, maker and a veteran web & mobile developer
      <br/>
      Specializes in bootstrapping and developing new products focusing on design, usability and lots of fun!
    </div>
  </div>
  <br/>
  <br/>

  <div class="aboutus-person" ng-class="(isHeb() ? 'heb' : 'eng')">
    <div class="person-image">
      <img src="http://graph.facebook.com/524728250/picture?type=large" class=""/>
      <a href="http://www.guytrefler.com/" target="_blank"><i class="fa fa-external-link-square mail"></i></a>
      <a href="http://guytreflergifs.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square tumblr"></i></a>
      <a href="https://www.facebook.com/guy.trefler" target="_blank"><i class="fa fa-facebook-square facebook"></i></a>
    </div>

    <div class="person-info" ng-show="isHeb()">
      גיא טרפלר, 29, תל אביב.
      <br/>
      פרילאנס מושן דיזיינר
      <br/>
      העבודות שלי מאד מושפעות מתרבות הפופ, אני עובד בעיקר עם תמונות בשילוב אלמנטים גרפים כדי לייצר קולאז'ים בתנועה.
    </div>
    <div class="person-info" ng-show="isEng()">
      Guy Trefler, 29, Tel-Aviv
      <br/>
      Freelance Motion Designer
      <br/>
      Highly inspired by the Pop Culture. Working mostly with ready made images for creating animated collages.
    </div>
  </div>

</div>
