<div>
  <h1 ng-show="isHeb()">
    רוצים להצטרף אלינו, לתמוך או לעזור?
  </h1>
  <h1 ng-show="isEng()">
    Want to join us, support or help out?
  </h1>

  <ul ng-show="isHeb()">
    <li><a href="mailto:info@treatsforlife.org" target="_blank" title="info@TreatsForLife.org">info@TreatsForLife.org</a></li>
    <li><a href="http://www.facebook.com/treatsforlife" target="_blank" class=" facebook"><i class="fa fa-facebook"></i> חטיפים לחיים</a></li>
  </ul>

  <ul ng-show="isEng()">
    <li><a href="mailto:info@treatsforlife.org" target="_blank" title="info@TreatsForLife.org">info@TreatsForLife.org</a></li>
    <li><a href="http://www.facebook.com/treatsforlife" target="_blank" class=" facebook"><i class="fa fa-facebook"></i> Treats For Life</a></li>
  </ul>
</div>
